<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">
    Any form
</div>
<div class="panel-body">
    <form #form="ngForm" novalidate (submit)="submitForm(form)">
        <div class="form-group" [class.has-error]="firstName.invalid">
            <label for ="fname" class="control-label">First Name:</label>
            <input type="text" required name="fname" id="fname" [ngModel]="model.fname" (ngModelChange)="firstToUpper($event)" placeholder="First Name" class="form-control" 
            #firstName="ngModel"/>
        </div>
        <div class="alert alert-danger" *ngIf="firstName.invalid">

            FirstName is required
        </div>

        <h3>Classes names</h3>
        <h4>{{firstName.className}}</h4>
        
        <div class="form-group" [class.has-error]="lastName.invalid">
            <label for ="lname" class="control-label">Last Name:</label>
            <input type="text" required name="lname" id="lname" [(ngModel)]="model.lname"  placeholder="Last Name" class="form-control" 
            #lastName="ngModel"/>
        </div>
        <div class="alert alert-danger" *ngIf="lastName.invalid">

            LastName is required
        </div>
       
        <div class="form-group" [class.has-error]="email.invalid">
            <label for ="email" class="control-label">Email :</label>
            <input type="text" required name="email" id="email" [(ngModel)]="model.email" placeholder="email" 
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            class="form-control" #email="ngModel"/>
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
            Please enter a valid email
        </div>

        <div class="form-group" [class.has-error]="password.invalid">
            <label for ="password" class="control-label">Password :</label>
            <input type="text" required name="password" id="password" [(ngModel)]="model.password" placeholder="password" minlength="6"
            class="form-control" #password="ngModel"/>
        </div>
        <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
            Password must be longer than 6 characters 
        </div>

        <div class="checkbox">
            <label>
            <input type="checkbox" name="fulltime" [(ngModel)]="model.fulltime">FullTime
            </label>
        </div>

        <div class="radio">
           <label>
             <input type="radio" name="gender" value="female" [(ngModel)]="model.gender">Female
            </label>
        </div>

        <div class="radio">
                <label>
                <input type="radio" name="gender" value="male" [(ngModel)]="model.gender">Male
                </label>
        </div>

        <div class="form-group" [class.has-error]="hasCodeLang">
            <label> Code Languages :</label>
            <select class="form-control"  name="codeLang" [(ngModel)]="model.codeLang" (blur)="validateCodeLang($event)">
                <option value="default">select any code lang</option>
                <option *ngFor="let lang of languages">
                    {{lang}}
                </option>
            </select>
        
        </div>
        <div class="alert alert-danger" *ngIf="hasCodeLang">
                Please Select Valid option
        </div>

        <button type="submit" class="btn btn-succes" >Submit</button>
     

    </form>
</div>

</div>
</div>
Model:{{model | json}}
<br />
Angular:{{form.value | json}}